fastapi
uvicorn
jinja2
python-dotenv
langchain-google-genai
langchain-community
langchain-core
langgraph
beautifulsoup4
langchain-chroma
qdrant-client
rank_bm25
unstructured
pdfplumber
pydantic
langchain-qdrant
langchain-text-splitters
