flask[async]
flask-cors
python-dotenv
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langchain-experimental
langgraph
faiss-cpu
beautifulsoup4
langchain-chroma
rank_bm25
pydantic>=2.0
tiktoken
cachetools
aiohttp